<table>
    <thead>
        <tr>
            {% for header in table.headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {{ ga_code }}
    </tbody>
</table>

