{% extends 'base.html.twig' %}

{% block body %}
    {% set names = ['name1', 'name2', 'name3', 'name4'] %}

     <ul>
         {% for name in names %}
            <li>{{ name }}</li>
         {% endfor %}
     </ul>
{% endblock body %}